@import "styles/unit.scss";

.universities {
  margin-bottom: rem(50);
  @include direction-column;
  gap: rem(50);

  @media (width < 500px) {
    gap: rem(25);
    margin-bottom: rem(10);
  }

  @media (500px < width <= 1000px) {
    gap: rem(25);
    margin-bottom: rem(10);
  }
  h4 {
    @include title;
  }

  .marqueeRoot {
    @include direction-column;
    gap: rem(20);
    height: 100%;
    .marquee {
      height: 100%;

      &__item {
        height: 231px;
        width: 468px;
        position: relative;
        margin-right: rem(20);
        overflow: hidden;
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid var(--border-color);

        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          background-image: linear-gradient(rgba(0, 0, 0, 9), rgba(0, 0, 0, 9));
          top: 0;
          left: 0;
          opacity: 0.4;
        }

        &:hover {
          img {
            transform: scale(1.05);
          }
        }
        img {
          transition: 0.5s;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          object-fit: cover;
        }
        span {
          position: absolute;
          bottom: 30px;
          left: 50%;
          z-index: 999;
          width: 80%;
          text-align: center;
          @include text;
          color: #ffffff;
          transform: translate(-50%, 20%);
          word-wrap: break-word;

          @media (width < 1000px) {
            top: 10px;
            bottom: 0;
          }
        }

        @media (max-width: 1000px) {
          width: 200px;
          height: 100px;
          margin-right: rem(5);
        }
      }
    }
  }
}
