@import "styles/unit.scss";

.archive {
    @include direction-column;
    gap: rem(30);
    padding: 50px 0;

    &__title {
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
    }


    .tables{
        @include direction-column;
        gap: rem(60);

        &__boxes{
            @include direction-column;
            gap:rem(20);
            padding: 20px 25px;
            border-radius: 10px;
            border: 1px solid #DBDBDB;
            background: #FFF;

            .header{
                color: #000;
                font-size: 24px;
                font-weight: 600;
                padding: 0 5px;
                border-bottom: 1px solid #DBDBDB ;
                padding: 20px 0;
            }
        }

    }
}