@import "styles/unit.scss";

.hamburger {
  @include align-items-center;
  cursor: pointer;

  @media (min-width: 1000px) {
    display: none;
  }
}

.drawerItem {
  @include align-items-center;
  gap: rem(10);
}

.langs {
  @include align-items-center;
  gap: rem(10);
  padding: 20px 16px;

  .lang {
    cursor: pointer;
    @include align-items-center;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 5px;
    gap: 5px;
  }
}
