@import "styles/unit.scss";

.top {
  margin: 0 auto;
  width: 100%;
  @include direction-column;
  gap: rem(50);
  padding-left: rem(12);
  padding-right: rem(12);

  @media (min-width: 1440px) {
    max-width: 1248px;
    padding-left: rem(8);
    padding-right: rem(8);
  }

  @media (width <= 500px) {
    gap: rem(10);
  }
  @media (500px < width <= 1000px) {
    gap: rem(25);
  }

  &__title {
    width: 100%;
    margin: 0 auto;
    @include justify-content-between;
    align-items: center;

    @media (width >= 1000px) {
      padding-left: rem(15);
      padding-right: rem(15);
    }

    @media (min-width: 1440px) {
      max-width: 1248px;
    }

    h5 {
      @include title;
    }
    span {
      @include text;
      color: var(--primary-color);
      cursor: pointer;
    }
  }
}
