@import "styles/unit.scss";

.wrapper {
  display: flex;
  width: 100%;
  padding: 19px 38px;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
}
.contexts {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .title {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    /* 75% */
    text-transform: uppercase;
  }

  .context {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    line-height: 23px;
  }
}

.selection {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .size_price {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .price {
      color: #000;
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
    }
  }
}

.border {
  padding-bottom: 21px;
  border-bottom: 2px solid #f5f5f5;
  width: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;

  .btn {
    display: flex;
    padding: 10px 24px;
    align-items: center;
    gap: 14px;
    border-radius: 8px;
    border: 1px solid #00adb5;
    cursor: pointer;
  }

  .buy {
    background: #00adb5;
    color: #fff;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .toCart {
    color: #00adb5;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
