@import "styles/unit.scss";

.cart {
  @include direction-column;
  gap: rem(30);
  padding: 50px 0;

  &__content {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 70%;
    @include justify-content-between;

    .wrapper {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: rem(30);
      .title {
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
      }
      .count {
        padding-top: rem(15);
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;

        span {
          color: #00adb5;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
    }

    .deleteAll {
      padding-top: rem(15);
      color: #de1616;
      color: #de1616;
      font-size: 18px;
      font-weight: 400;
      line-height: normal;
      margin-right: 20px;
    }
  }
  .offerProducts {
    @include direction-column;
    gap: rem(20);
    margin-top: rem(50);

    .title {
      padding-left: 25px;
      width: max-content;
      color: #000;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}

.login {
  @include element-center;
}
