@import "styles/unit.scss";

.filter {
  &__title {
    @include justify-content-between;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: rem(15);
    cursor: pointer;

    h5 {
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__assets {
    @include align-items-center;
    gap: rem(10);
    margin: 10px 0;
    flex-wrap: wrap;

    &__item {
      border: 1px solid var(--border-color);
      padding: 5px;
      border-radius: 4px;
    }
  }

  &__body {
    @media (width <= 1000px) {
      display: none;
    }
  }
}
