@import "styles/unit.scss";

.single {
  padding: rem(50) 0;

  &__content {
    @include direction-column;
    gap: rem(50);
  }

  &__top {
    @include justify-content-between;
    align-items: center;
    &__arrows {
      @include align-items-center;
      gap: rem(10);

      &__arrow {
        width: 50px;
        height: 50px;
        background: #00adb5;
        border-radius: 39px;
        @include element-center;
        cursor: pointer;

        &__reverse {
          transform: rotate(180deg);
        }
      }
    }
  }

  .offerProducts {
    display: flex;
    flex-direction: column;
    gap: rem(20);

    .title {
      padding-left: 25px;
      width: max-content;
      color: #000;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}
