.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .title {
    text-align: center;
    color: #000;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &_title {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .numberInput {
    display: flex;
    width: 500px;
    padding: 18px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 2px solid #ebebeb;
    background: #fff;
    font-size: 20px;
    outline: none;

    &::placeholder {
      color: #8c8c8c;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.08px;
    }
    &:focus {
      border: 2px solid #00adb5;
    }
  }

  .btn {
    display: flex;
    width: 100%;
    padding: 18px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: none;
    background: #00adb5;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }
}
