.inputMask_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .errMsg {
    color: #de1616;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
