@import "styles/unit.scss";
.header {
  padding: 30px 0;
  border-bottom: 1px solid #dbdbdb;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: #fff;
  width: 100%;
  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .langs {
      ul {
        list-style: none;
        display: flex;
        column-gap: rem(40);
        a {
          font-size: rem(16);
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .logo {
      color: var(--text-color);
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif "";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 42px;
    }
  }
}
