@import "styles/unit.scss";

.assets {
  @include align-items-center;
  gap: rem(60);

  &__items {
    @include align-items-center;
    gap: rem(40);
    &__item {
      position: relative;
      cursor: pointer;
      &__count {
        @include element-center;
        position: absolute;
        top: -7px;
        right: -7px;
        font-weight: 500;
        font-size: 8px;
        line-height: 12px;
        color: #ffffff;
        background-color: var(--secondary-color);
        border-radius: 50%;
        width: 20px;
        height: 20px;
      }
    }
  }
}
.item {
  list-style: none;
  cursor: pointer;
  @include align-items-center;
  gap: rem(10);

  &:hover {
    .childList {
      @include direction-column;
      padding-top: 28px;

      ul {
        @include direction-column;
        z-index: 1000 !important;
      }
    }
  }
  a {
    transition: all 0.3s ease;
    svg {
      margin-left: 16px;
    }
  }
  .childList {
    display: none;
    perspective: 1000px;
    position: absolute;
    top: 45px;
    z-index: 99;
    cursor: pointer;
    animation: downOut 400ms ease-in-out forwards;
    transform-origin: center center;
    ul {
      background: #ffffff;
      border: 1px solid #e0e0e0;
      border-radius: 10px;
      @include direction-column;
      padding: rem(12);
      .childItems {
        @include align-items-center;
        justify-content: space-between;
        gap: rem(24);
        &:first-child {
          border-bottom: 1px solid #e0e0e0;
          padding-bottom: 6px;
          margin-bottom: 6px;
        }
        &:last-child {
          border-top: 1px solid #e0e0e0;
          padding-top: 6px;
          margin-top: 6px;
        }

        a {
          display: flex;
          align-items: center;
          position: relative;
          background-color: transparent;
          font-weight: 400;
          line-height: 24px;
          color: #252c32;
          &:hover {
            svg {
              opacity: 1;
              transform: translateX(0);
            }
          }
          svg {
            opacity: 0;
            color: #fff;
            position: absolute;
            right: 5px;
            font-size: 16px;
            transform: translateX(-20px);
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
}

@keyframes downOut {
  0% {
    transform: translateZ(200px) transLateY(40px);
  }
  80% {
    transform: translateZ(-10px) transLateY(0px);
  }
  100% {
    transform: translateZ(0px) transLateY(0px);
  }
}
