@import "styles/unit.scss";

.content {
  @include align-items-center;
  gap: rem(20);

  &__select {
    max-width: rem(200);
    min-width: rem(200);

    @media (width <= 1000px) {
      max-width: rem(130);
      min-width: rem(130);
    }
  }
  @media (width <= 1000px) {
    gap: rem(10);
  }
}
